// Color
// -----------

$c--white: #ffffff;
$c--gray-f: #f2f7f7;
$c--gray-e: #e2e7e7;
$c--black: #000000;
$c--orange: #ff6b45;

// Type
// -----------

// Family
$ff--base: Helvetica, Arial, sans-serif;

// Line height
$lh--base: 1.4;

// Font sizes
$fz--sm: 0.8em;
$fz--base: 16px;
$fz--lg: 1.2rem;
$fz--xl: 2.5rem;

// Font weight
$fw--bold: 700;
$fw--light: 100;

// Spacing
// -----------

$spacing: 1.6rem;

// Misc
// -----------

$border-radius: 6px;
